@import "./tailwind.css";
@import "./home.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  line-height: normal;
}

h2 {
  font-size: 50px;
  line-height: normal;
}

h3 {
  font-size: 30px;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  position: relative;
  background-image: url('/footer-bg.jpg');
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.942);
  z-index: 1;
}

footer * {
  position: relative;
  z-index: 2;
}

footer img {
  margin-left: 0.5rem;
}

footer a.link {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
}

footer a.link:hover {
  color: #1eccc4;
}

footer li {
  list-style: none;
  margin-bottom: 7px;
  position: relative;
  padding-left: 20px;
}

footer li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  background: #1eccc4;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: .4s;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.text-primary {
  color: #1eccc4;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  background-color: #1eccc4;
  border-radius: 50%;
  cursor: pointer;
}

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 16px;
  border: 2px solid #cccccc72;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-color: #1eccc4;
}