.main-text {
  padding: 30px 140px;
  background-color: white;
}

@media (min-width: 1536px) {
  .main-text {
    padding: 30px 120px;
  }
}

@media (min-width: 400px) {
  .main-text {
    padding: 30px;
  }
}

.my-container {
  width: 100%;
  margin: auto;
}

@media (min-width: 100px) {
  .container {
    padding: 0px;
    max-width: 2000px;
  }
}

.skill-set {
  position: relative;
  background-image: url('/skill-set-bg.jpg');
}

.skill-set::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.942);
  z-index: 1;
}

.skill-set * {
  position: relative;
  z-index: 2;
}

.aboutme {
  position: relative;
  background-image: url('/aboutme-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.942);
  z-index: 1;
}

.aboutme * {
  position: relative;
  z-index: 2;
}

.title {
  position: relative;
  padding: 20px;
  display: inline-block;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  border-color: #1eccc4;
  border-style: dashed;
}

.title::before {
  top: 0px;
  left: 0px;
  width: 35%;
  height: 100%;
  border-radius: 50px 0 0 0;
  border-top: 8px dashed #1eccc4;
  border-left: 8px dashed #1eccc4;
}

.title::after {
  bottom: 0px;
  right: 0px;
  width: 35%;
  height: 100%;
  border-radius: 0 0 50px 0;
  border-bottom: 8px dashed #1eccc4;
  border-right: 8px dashed #1eccc4;
}


.btn-primary {
  padding: 10px 20px;
  background: #1eccc4;
  color: white;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-primary:hover {
  background: #21dad1;
}

.btn-secondary {
  padding: 10px 20px;
  background: white;
  color: #1eccc4;
  transition: background-color 0.3s ease-in-out;
}

.btn-secondary:hover {
  background: rgb(242, 242, 242);
}

.heading {
  padding-top: 100px;
}

.name-heading {
  font-size: clamp(40px, 4vw, 80px);
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #FFFFFF;
}

.section-title {
  font-size: clamp(24px, 12vw, 80px);
  margin: 70px auto;
  color: #1ECCC5;
  font-weight: 900;
  text-shadow: 1px 1px 2px #10918d;
}

.contact {
  overflow: hidden;
}

.social-media {
  cursor: pointer;
  color: #a4a4a4;
  transition: color 0.3s ease-in-out;
}

.social-media:hover {
  color: #1eccc4;
}

.about-us-cards {
  padding: 80px 50px;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 0.8em solid #1ECCC5;
}

.project {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: .4s;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
  }

  .fas {
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    background-color: #fff;
    color: #2C3A47;
  }

  .fa2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .text {
    position: absolute;
    top: 30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    background-color: #2C3A47;
    border-radius: 3px;
    transition: .4s;

    .fa1 {
      position: absolute;
      top: 0;
      left: 0;
    }

    div {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
      padding: 30px 60px;
      line-height: 1.5;
      box-sizing: border-box;

      h3 {
        font-size: 30px;
        margin-bottom: 5px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  &:hover {
    .text {
      transform: rotateY(20deg) skewY(-3deg)
    }

    transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg)
  }
}